{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Cabecera -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">ConectBot: Comercio sustentable y sostenible de pequeños productores</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Iconos -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Conecta con pequeños productores</h3>
            <p class="lead mb-0">Compra productos de nuestros productores locales</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Del campo a tu mesa</h3>
            <p class="lead mb-0">Directo del campo a tu hogar</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Produción responsable</h3>
            <p class="lead mb-0">Sostenible en pro del medio ambiente</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}